apiVersion: v1
kind: Secret
metadata:
  name: strongswan-certs
type: Opaque
data:
  ca.crt: <base64 encoded CA certificate>
  vm1.crt: <base64 encoded VM1 certificate>
  vm1.key: <base64 encoded VM1 private key>
  vm2.crt: <base64 encoded VM2 certificate>
  vm2.key: <base64 encoded VM2 private key>
